*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    line-height:1.6;
}

/* Header */
header{
    background:#4b4bff;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    margin-left:15px;
    text-decoration:none;
}

/* Hero Section */
.hero{
    height:300px;
    background:#dfe6ff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* Sections */
section{
    padding:40px;
}

/* Project Cards */
.card{
    background:#f4f4f4;
    padding:20px;
    margin-top:15px;
    border-radius:10px;
}

/* Footer */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}

/* Responsive Design */
@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        margin-top:10px;
    }
}